{% extends 'index.html' %}
{% load static %}

{% block title %} Team {% endblock %}

{% block content %}
<section id="hero">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
          <div>
            <h1>Research Project related to restorative justice. Leuven University-UCLV</h1>
            <h2>We are a group of professors and researchers of the social sciences</h2>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
          <img src="{%static 'images/profile-hero.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

</section><!-- End Hero -->

<section id="profiles">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Profiles</h2>
      </div>
            {% for author in object_list %}
            
            <div class="card mb-3" data-aos="fade-left">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/media/{{author.img}}" class="img-fluid rounded-start" alt="..." style="height:100%; width:100%">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{author.name}}</h5>
                      <p class="card-text">{{author.about}} </p>
                      <div class="header-social-links d-flex align-items-center">
                        <a href="{{author.twitter}}" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="{{author.facebook}}" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="{{author.instagram}}" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="{{author.linkedin}}" class="linkedin"><i class="bi bi-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            {% endfor %}
              
      

    </div>
  </section><!-- End Frequently Asked Questions Section -->
{% endblock %}